
/* Dragnet */
header {
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background: linear-gradient(to bottom,  #ebebeb 0%,#f0f0f0 50%,#e0e0e0 100%);
}

header > * {
  float: left;
  margin: 0 15px 0 0;
}

header h1 {
  font-size: 17px;
  text-shadow: 1px 1px 1px #d0d0d0;
}

header > .btn-toolbar {
  float: right;
}

.vis {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.dn-loading {
  display: none;
  position: absolute;
  width: 200px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -100px;
  padding: 13px;
  text-align: center;
  color: #555;
  background-color: #fafafa;
  opacity: .90;
  border: 1px solid #bbb;
  border-radius: 2px;
  text-shadow: 1px 1px 1px #e0e0e0;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.08);
}

/* Cluster */
svg.cluster g.node text {
  fill: #0b9dcc;
/*   text-shadow: 1px 1px 1px white; */
  font-size: 14px;
  display: none;
  opacity: 0;
  transition: all .5s;
}

svg.cluster g.node.root text {
  fill: black;
  text-shadow: 2px 1px 2px #fff;
}

svg.cluster g.node.over {
  cursor: pointer;
}

svg.cluster g.node.show.over text,
svg.cluster g.node.root text{
  opacity: 1 !important;
}

svg.cluster g.node.show text {
  display: block;
  opacity: .4;
}

/* Hbar */
svg.hbar {
  border: 1px solid #B3CCDD;
  background: #d4ebf7;
  margin: 5px;
}

svg.hbar rect.bar {
  stroke: white;
  fill: steelblue;
}

svg.hbar text {
  fill: white;
}

svg.hbar text.name {
  fill: #000;
}

svg.hbar text.name:hover {
  fill: #1D96CB;
  cursor: pointer;
  text-shadow: 1px 1px 1px #A6DAFF;
}

svg.hbar line {
  stroke: #abd5df;
}

svg.hbar .rule {
  fill: #000;
}

svg.hbar rect {
  stroke: none;
}

svg.hbar rect:hover {
  fill: #23abe7;
}
